html {
    height: 100%;
}

body {
    background-color: #F4EFF0;
    height: 100%;
    line-height: 3em;
    margin: 0;
}

#container {
    width: 100%;
    height: 100%;
    border: 1px solid red;
}

.website-rank {
    font-size: 1.5rem;
    font-weight: 300;
    opacity: 0.9;
    margin-bottom: 0.2rem;
}

.website-rank.first {
    color: gold;
    font-size: 1.9rem;
    font-weight: 500;
}

.website-rank.second {
    color: silver;
    font-size: 1.7rem;
    font-weight: 500;
}

.website-rank.third {
    font-weight: 400;
}

.website-icon {
    height: 76px;
    object-fit: cover;
    max-width: 60%;
    margin-bottom: 0.2rem;
}

.website-name {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.website-count {
    font-size: 1.4rem;
    opacity: 0.8;
    margin-bottom: 0.2rem;
    line-height: 1.8rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}